/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "bootstrap.min.css";

body {
  margin: 2%;
}

.spacer {
  flex: 1 1 auto;
}
.full-width {
  width: 100%;
}
.center {
  text-align: center;
}

app-home, app-users, app-user, app-not-found{
  float: right;
  width: 83%;
  border-top-style: solid;
  border-top-color: red;
  border-radius: 0 0 30px 30px;
  padding: 1em;
  background-color: white;
  opacity: 0.9;
  height: 74vh;
}

.not-found {
  all: unset;
}

app-users .mat-table{
  overflow-y: auto;
  height: 35vh;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}

.mobile{
  display: none;
}

@media screen and (max-width: 60em){
  app-home, app-users, app-user, app-not-found{
    width: 100%;
    height: 90vh;
  }
  .mobile-false {
    display: none;
  }
  .mobile{
    display: unset;
  }

}
