/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~material-design-icons/iconfont/material-icons.css";

body {
  margin: 1%;
}
img {
  margin: 2%;
}

.spacer {
  flex: 1 1 auto;
}
.full-width {
  width: 100%;
}
.w-90 {
  width: 90%;
}
.center {
  text-align: center;
}

app-home, app-users, app-user, app-not-found, app-predmeti, app-predmet{
  float: right;
  width: 84%;
  border-radius: 0 0 30px 30px;
  padding: 1em;
  background-color: white;
  opacity: 0.94;
  height: 86vh;
}

.not-found {
  all: unset;
}

app-users .mat-table{
  overflow-y: auto;
  height: 55vh;
}
app-predmeti mat-list, app-predmet mat-list{
  overflow-y: auto;
  height: 70vh;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #D62929;
}

.fullscreen-dialog{
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.dialog-600x400{
  height: 400px;
  width: 600px;
}
.dialog-600x500{
  height: 500px;
  width: 600px;
}
.dialog-600x600{
  height: 600px;
  width: 600px;
}
.dialog-600x800{
  height: 800px;
  width: 600px;
}

.mobile{
  display: none;
}

@media screen and (max-width: 60em){
  body{
    width: 100%;
    height: 100%;
  }
  app-home, app-users, app-user, app-not-found, app-predmeti, app-predmet{
    width: 100%;
    height: 100%;
  }
  app-users .mat-table, app-predmeti mat-list, app-predmet mat-list{
    height: 60vh;
  }
  .mobile-false {
    display: none;
  }
  .mobile{
    display: unset;
  }

  #ispiti{
    width: 120%;
  }

  .mat-row, .mat-header-row {
    width: 450vw;
  }
  .mat-header-row {
  position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: inherit;
  }
  .mat-table {
  overflow: scroll;
  }
}
