<div class="container-fluid row">
  <div class="col-md-6 offset-md-4 center" (keypress)="clickEnter($event,user)">
    <img src="/assets/student.png" alt="student" width="100px">
    <mat-form-field class="full-width">
      <input matInput placeholder="Username" [(ngModel)]="user.username" required autofocus>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
      <input matInput placeholder="Password" type="password" [(ngModel)]="user.password" required>
    </mat-form-field>
    <br>
    <button class="btn btn-outline-dark" (click)="postLogin(user)"
        [disabled]="user.username.trim()==='' || user.password.trim()===''">
      Login
    </button>
  </div>
</div>
