<div *ngIf="user!=null">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <mat-tab-group *ngIf="!loading">
    <mat-tab label="Info">
      <ng-template mat-tab-label>
        <mat-icon>info_outline</mat-icon> Info
      </ng-template>
      <div class="m-5 row">
        <div class="col-md-3">
          <img [src]="user.href" class="rounded border border-dark" *ngIf="user.href" height="150">
          <button mat-raised-button *ngIf="me!=null && user!=null && user.username===me.username"
                  (click)="upload_file.click()" color="primary">
            <mat-icon>file_upload</mat-icon>
            Change profile picture
          </button>
          <input hidden type="file" placeholder="Upload" accept="image/*" required #upload_file (change)="fileChange($event)">
          <button mat-raised-button [routerLink]="['/inbox',user.id]"
                  *ngIf="me!=null && user!=null && user.username!==me.username">
            <mat-icon>message</mat-icon>
            Send Message
          </button>
        </div>
        <div class="col-md-9 row">
          <mat-form-field class="col-md-12">
            <input matInput placeholder="Username" [(ngModel)]="user.username" disabled>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="First name" [(ngModel)]="user.ime" disabled>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Last name" [(ngModel)]="user.prezime" disabled>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Email" [(ngModel)]="user.email" disabled>
          </mat-form-field>
          <mat-form-field class="col-md-6">
            <input matInput placeholder="Type" [(ngModel)]="user.type" disabled>
          </mat-form-field>
          <mat-form-field *ngIf="user.isNastavnik()" class="col-md-4">
            <input matInput placeholder="Zvanje"
                   [(ngModel)]="user.zvanje.naziv" disabled>
          </mat-form-field>
          <mat-form-field *ngIf="user.isUcenik()" class="col-md-4">
            <input matInput placeholder="Broj Indexa"
                   [(ngModel)]="user.brojIndexa" disabled>
          </mat-form-field>
          <div class="col-md-4">
            <span>Authorities</span>
            <mat-chip-list>
              <mat-chip *ngFor="let key of user.authorities" disabled>
                {{key.name.substring(5).toLowerCase()}}
              </mat-chip>
            </mat-chip-list>
          </div>
          <div class="">
            <span *ngIf="user.online"> <mat-icon class="text-success text-sm-center">lens</mat-icon> <i>Online</i></span>
            <span *ngIf="!user.online"> <mat-icon class="text-danger text-sm-center">lens</mat-icon>
            <i>{{user.lastOnline | date: 'dd.MM.yyyy. HH:mm'}}</i></span>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Predmeti" *ngIf="predmeti && predmeti.length!==0">
      <ng-template mat-tab-label>
          Predmeti <span class="badge badge-pill badge-dark">{{predmeti.length}}</span>
      </ng-template>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let p of predmeti">
            <mat-icon mat-list-icon>subject</mat-icon>
            <h4 mat-line><i>{{p.naziv}}</i></h4>
            <p mat-line>Broj casova predavanje: {{p.brojCasovaPredavanja}}</p>
            <p mat-line>Broj casova vezbi: {{p.brojCasovaVezbi}}</p>
            <p mat-line>
              Aktivnosti:
              <mat-chip-list>
                <mat-chip *ngFor="let a of p.aktivnosti.split(';')" disabled>
                  {{a}}
                </mat-chip>
              </mat-chip-list>
            </p>
            <a mat-button color="primary" [routerLink]="['/predmeti',p.id]" matTooltip="Open">
              <mat-icon>link</mat-icon>
            </a>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Uplate" *ngIf="user.isUcenik()">
      <ng-template mat-tab-label>
        Uplate <span class="badge badge-pill badge-dark">{{uplate.length}}</span>
      </ng-template>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let u of uplate">
            <mat-icon mat-list-icon>payment</mat-icon>
            <p mat-line>Predmet:
              <a mat-button color="accent" [routerLink]="['/predmeti',u.predmet.id]">
                {{u.predmet.naziv}}
              </a>
            </p>
            <p mat-line>Suma: <i>{{u.suma}}</i> din</p>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
    <mat-tab label="Dokumenti" *ngIf="user.isUcenik()">
      <ng-template mat-tab-label>
        Dokumenti <span class="badge badge-pill badge-dark">{{docs.length}}</span>
      </ng-template>
      <div>
        <button mat-mini-fab matTooltip="Add document" color="primary" (click)="addDoc()"
                *ngIf="me!=null && user!=null && (isAdmin || me.username===user.username)">
          <mat-icon>add</mat-icon>
        </button>
        <mat-list>
          <mat-list-item *ngFor="let d of docs">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line><i>{{d.tipDokumenta.naziv}}</i></h4>
            <button mat-button color="primary" (click)="openDoc(d)"
                    matTooltip="open" *ngIf="supportedType(d.filename)">
              <mat-icon>link</mat-icon>
            </button>
            <button mat-button color="primary" (click)="download(d.filename)" matTooltip="Download file" *ngIf="d.filename">
              <mat-icon>file_download</mat-icon>
            </button>
            <button mat-button color="warn" matTooltip="Delete" (click)="deleteDoc(d)"
                    *ngIf="me && user && (me.username===user.username || isAdmin)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<app-not-found *ngIf="user===null" class="not-found"></app-not-found>
