<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput placeholder="Naziv" [(ngModel)]="data.object.naziv">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-icon-button [mat-dialog-close]="{result:true, object:data.object}"
          color="primary" matTooltip="Add" [disabled]="data.object.naziv.length<2">
    <mat-icon>add</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
