<h2 mat-dialog-title>Change password</h2>
<mat-dialog-content>
  <mat-form-field class="full-width" *ngIf="!data.admin">
    <input matInput placeholder="Old password" type="password" maxlength="30"
           [(ngModel)]="data.user.oldPassword" (input)="change()" required>
    <mat-hint align="end">{{data.user.oldPassword.length}}/30</mat-hint>
    <mat-icon matSuffix>visibility</mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="New password" type="password" maxlength="30"
           [(ngModel)]="data.user.newPassword" (input)="change()" required>
    <mat-hint align="end">{{data.user.newPassword.length}}/30</mat-hint>
    <mat-icon matSuffix>visibility</mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Repeat new password" type="password" maxlength="30"
           [(ngModel)]="data.user.newPasswordRepeat" (input)="change()" required>
    <mat-hint align="end">{{data.user.newPasswordRepeat.length}}/30</mat-hint>
    <mat-icon matSuffix>visibility</mat-icon>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-icon-button [mat-dialog-close]="{result:true, user:data.user }"
          color="primary" matTooltip="Change password" [disabled]="enableB">
    <mat-icon>edit</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
