<div *ngIf="predmeti!=null">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" id="content">
    <button mat-mini-fab color="primary" matTooltip="Add new" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="w-90 f20">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Naziv predmeta" [(ngModel)]="filter" (keyup)="changeFilter()">
    </mat-form-field>
    <mat-list>
      <mat-list-item *ngFor="let p of predmeti">
        <mat-icon mat-list-icon>subject</mat-icon>
        <h4 mat-line><i>{{p.naziv}}</i></h4>
        <p mat-line>Broj casova predavanje: {{p.brojCasovaPredavanja}}</p>
        <p mat-line>Broj casova vezbi: {{p.brojCasovaVezbi}}</p>
        <p mat-line>
          Aktivnosti:
          <mat-chip-list>
            <mat-chip *ngFor="let a of p.aktivnosti" disabled>
              {{a.naziv}}
            </mat-chip>
          </mat-chip-list>
        </p>
        <a mat-mini-fab  [routerLink]="['/predmeti',p.id]" matTooltip="Open" class="bg-dark">
          <mat-icon>link</mat-icon>
        </a>
        <button mat-mini-fab color="primary" matTooltip="Update" (click)="edit(p)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab color="warn" matTooltip="Delete" (click)="deletePredmet(p)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
    <mat-paginator [length]="length"
                   [pageSize]="num"
                   [pageSizeOptions]="[2, 5, 10, 25, 100]"
                   [pageIndex]="page"
                   (page)="changePage($event)">
    </mat-paginator>
  </div>
</div>
<app-not-found *ngIf="predmeti===null" class="not-found"></app-not-found>
