<div *ngIf="_router.url!=='/login'">
  <mat-nav-list class="mat-elevation-z24">
    <a matSubheader routerLink="/">
      <img width="25" alt="E-learn" src="../../assets/student.png">
      E-learn
    </a>
    <mat-divider></mat-divider>
    <br>
    <mat-spinner *ngIf="me!=null && (!nav_items || nav_items.length==0)"></mat-spinner>
    <button *ngFor="let nav of nav_items" [routerLink]="[nav.route]" class="btn btn-block"
            [ngClass]="{'btn-dark':_router.url===nav.route,
                 'btn-outline-dark':_router.url!==nav.route}">
      <mat-icon matListIcon>{{nav.icon}}</mat-icon>
      {{nav.name}}
    </button>
  </mat-nav-list>
  <mat-toolbar>
    <mat-toolbar-row>
      <div class="mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span class="spacer"></span>
      <div class="mobile-false">
        <button mat-raised-button *ngIf="me!=null && _router.url.split('/').pop()===(me.username)"
                (click)="upload_file.click()" color="primary">
          <mat-icon>file_upload</mat-icon>
          Change profile picture
        </button>
        <input hidden type="file" placeholder="Upload" accept="image/*" required #upload_file (change)="fileChange($event)">
        <button mat-raised-button color="primary" (click)="changePassword()">
          <mat-icon>edit</mat-icon>
          Change password
        </button>
        <button mat-raised-button color="primary" (click)="updateProfile()">
          <mat-icon>edit</mat-icon>
          Edit profile
        </button>
        <button mat-raised-button (click)="logout()" color="warn">
          Logout
          <mat-icon>input</mat-icon>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let nav of nav_items" [routerLink]="[nav.route]">
          <mat-icon matListIcon>{{nav.icon}}</mat-icon>
          {{nav.name}}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="text-primary" *ngIf="me!=null && _router.url.split('/').pop()===(me.username)"
                (click)="upload_file.click()">
          <mat-icon>file_upload</mat-icon>
          Change profile picture
        </button>

        <button mat-menu-item class="text-primary">
          <mat-icon>edit</mat-icon>
          Change password
        </button>
        <button mat-menu-item class="text-primary">
          <mat-icon>edit</mat-icon>
          Edit profile
        </button>
        <button mat-menu-item (click)="logout()" class="text-danger">
          Logout
          <mat-icon>input</mat-icon>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
