<div *ngIf="user!==null" class="container-fluid">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <a mat-button color="primary" [routerLink]="['/users',user.username]">
    <img [src]="user.href" width="24">
    <span>{{user.ime + ' '+ user.prezime}}</span>
  </a>
  <span *ngIf="user!=null && user.online"> <mat-icon class="text-success text-sm-center">lens</mat-icon> <i>Online</i></span>
  <span *ngIf="user!=null && !user.online"> <mat-icon class="text-danger text-sm-center">lens</mat-icon>
    <i>{{user.lastOnline | date: 'dd.MM.yyyy. HH:mm'}}</i></span>
  <div id="messages" class="container" #messages [scrollTop]="messages.scrollHeight">
    <button class="btn btn-link btn-block" (click)="seemore()" *ngIf="chat.length!=total">
      See more ({{total-chat.length}})
    </button>
    <div *ngFor="let c of chat" class="row">
      <img [src]="user.href" height="16"  *ngIf="c!=null && me!=null && c.sender===user.id">
      <h4 class="rounded font-16 col-8" matTooltip="{{c.date | date: 'dd.MM.yyyy. HH:mm'}}" *ngIf="c!=null && user!=null"
          [ngClass]="{'badge-primary':me && (c.recipient===me.id),
                'badge-dark offset-2':me && (c.recipient!==me.id)}">
        {{c.text}}
      </h4>
      <img [src]="me.href" height="16" *ngIf="c!=null && me!=null && c.sender===me.id">
    </div>
  </div>
  <div class="row" (keypress)="clickEnter($event,newMessage)">
    <mat-form-field class="col-10">
      <textarea matInput placeholder="Message" [(ngModel)]="newMessage.text" style="resize: none"></textarea>
    </mat-form-field>
    <button mat-mini-fab color="primary" class="align-text-bottom" (click)="send(newMessage)"
            [disabled]="newMessage.text.trim()===''">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
<app-not-found *ngIf="user===null" class="not-found"></app-not-found>
