<div class="container-fluid">
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div id="messages" class="container" #messages [scrollTop]="messages.scrollHeight">
    <div *ngFor="let c of chat; let i = index; let first = first" class="row">
      <button *ngIf="c!=null && me!=null && c.sender.id!==me.id && (chat[i>0?i-1:i].sender.id!=c.sender.id || first)"
              class="btn btn-link btn-sm col-4 offset-2" [routerLink]="['/users',c.sender.username]">
        {{c.sender.ime + ' '+ c.sender.prezime}}
      </button>
      <h4 class="rounded font-16 col-8" matTooltip="{{c.date | date: 'dd.MM.yyyy. HH:mm'}}" *ngIf="me!=null"
          [ngClass]="{'badge-primary':me && (c.sender.id!==me.id),
                'badge-dark offset-2':me && (c.sender.id===me.id)}">
        {{c.text}}
      </h4>
      <img [src]="me.href" height="16" *ngIf="c!=null && me!=null && c.sender.id===me.id">
    </div>
  </div>
  <div class="row" (keypress)="clickEnter($event,newMessage)">
    <mat-form-field class="col-10">
      <textarea matInput placeholder="Message" [(ngModel)]="newMessage.text" style="resize: none"></textarea>
    </mat-form-field>
    <button mat-mini-fab color="primary" class="align-text-bottom" (click)="send(newMessage)"
            [disabled]="newMessage.text.trim()===''">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
