<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput placeholder="Naziv" maxlength="50" [(ngModel)]="data.predmet.naziv" required>
    <mat-hint align="end">{{data.predmet.naziv.length}}/50</mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Opis" [(ngModel)]="data.predmet.opis" required>
    <mat-hint align="end">{{data.predmet.naziv.length}}/256</mat-hint>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Broj casova predavanja" [(ngModel)]="data.predmet.brojCasovaPredavanja"
           type="number" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Broj casova vezbi" [(ngModel)]="data.predmet.brojCasovaVezbi"
           type="number" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Aktivnosti" multiple [(ngModel)]="selectedValues" (change)="change()">
      <mat-option *ngFor="let a of tipovi_aktivnosti" [value]="a">{{a.naziv}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-icon-button [mat-dialog-close]="{result:true, predmet:data.predmet}"
          color="primary" matTooltip="{{data.tooltip}}"
          [disabled]="data.predmet.naziv.trim()==='' || data.predmet.brojCasovaPredavanja<=0
                      || data.predmet.brojCasovaVezbi<=0">
    <mat-icon>{{data.icon}}</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-close matTooltip="Close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
