<div *ngIf="isAdmin">
  <div style="padding: 8px 24px 0">
    <mat-toolbar>
      <button mat-mini-fab color="primary" matTooltip="Add new user" (click)="addUser()">
        <mat-icon>person_add</mat-icon>
      </button>
      <span class="spacer"></span>
      <mat-form-field class="w-90">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </mat-toolbar>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <mat-table *ngIf="!loading" #table [dataSource]="users">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.ime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="surname">
      <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.prezime}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.type}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="online">
      <mat-header-cell *matHeaderCellDef> Last Online </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <span *ngIf="user.online"> <mat-icon class="text-success text-sm-center">lens</mat-icon> <i>Online</i></span>
        <span *ngIf="!user.online"> <mat-icon class="text-danger text-sm-center">lens</mat-icon> <i>{{user.lastOnline | date: 'dd.MM.yyyy. HH:mm'}}</i></span>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="options">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button [routerLink]="['/users',user.username]" matTooltip="Open" color="primary">
          <mat-icon>person</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="user.type!=='User'"
                color="primary" matTooltip="Options">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateUser(user)">
                <mat-icon>edit</mat-icon> Update
              </button>
            <button mat-menu-item (click)="changePassword(user)">
                <mat-icon>edit</mat-icon> Change password
            </button>
            <button mat-menu-item (click)="deleteUser(user)">
              <mat-icon>delete</mat-icon> Delete
            </button>
        </mat-menu>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 20, 50, 100]">
  </mat-paginator>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>
<app-not-found *ngIf="!isAdmin" class="not-found"></app-not-found>
